hr{
    clear:both;
}
#wrapper .table .selected{
    background: #B9D9FE;
}
.picker-group{
    margin-bottom: -30px;
}
h2{
    clear:both;
}
.button-bar{
    margin-bottom:10px;
    margin-top:10px;
}
.picker-group i {
    position: absolute;
    bottom: 10px;
    right: 24px;
    top: auto;
    cursor: pointer;
}